<ui-home
    nombre="Cereza"
    imagen="/images/cherry.jpg"
    descripcion="La cereza es el fruto pequeño y redondo del cerezo, de color rojo o negro brillante, con un sabor dulce o ligeramente ácido. Es una fruta carnosa con una única semilla en su interior, que se consume fresca o se usa en la preparación de postres, jugos, mermeladas y otros productos alimenticios."
/>

<ui-home
    nombre="Piña"
    imagen="/images/pinapple.jpg"
    descripcion="La piña es una fruta tropical con una cáscara dura y rugosa de color marrón y verde, coronada por hojas largas y espinosas. Su pulpa es amarilla, jugosa y dulce, con un sabor refrescante y ácido."
/>