/* VARIABLES */
:root {
    --azul: #1F53C5;
    --negro: #24303C;
    --blanco: #FFFFFF;
}

/* GLOBALES */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* border: 0.1rem solid #000; */
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--azul);
}

button:hover {
    cursor: pointer;
}

/* FUNCIONALIDADES */
.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* COMPONENTES */
app-root {
    width: 100%;
}